{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ article.title }}</h1>
{{ article.text }}
<p>Дата публикации: {{ article.publishAt | date('d/m/Y H:i:s') }}</p>
<p>Автор: {{ article.author }}</p>
<p><a href="{{ article.link }}">Ссылка на источник</a></p>
{% endblock %}